*{
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

section{
    margin: 10px
}